* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(214, 214, 214);
}

/*----------------NavBar----------------*/

.NavBar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

.NavBar li {
    float: left;
}

.NavBar li button {
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
}

.NavBar li button:hover {
    background-color: #111;
}


/*----------------Sections----------------*/

.container{
    display: grid;
    grid-template-columns: auto auto;
}


/*----------------Select Add Course Section----------------*/

/*----------------Left Column----------------*/
.addCourse, .addStudent, .selectedCourse{
    text-align: center;
    font-size: 17px;
    margin-top: 50px;
}

.addCourse input, .addStudent input, .selectedCourse input{
    border-radius: 10px;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box

}

.addCourse button, .addStudent button, .selectedCourse button{
    border-radius: 10px;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0px;

}

.addCourse button:hover, .addStudent button:hover, .selectedCourse button:hover{
    opacity: 0.7;
}

.addCourse select {
    width: 75%;
    padding: 10px 15px;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box
}

/*----------------Right Column----------------*/

.courseListsContainer, .studentListsContainer, .courseStudentsListContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.courseLists, .studentLists, .courseStudentsList,.courseStudentsList ul{
    list-style: none;
}

.courseLists h3, .studentLists h3, .courseStudentsList h3{
    margin-left: 10px;
}

.course, .student, .courseStudent{
    margin: 10px;
    background: white;
    display: flex;
    align-items: center;
}

.course input , .student input, .courseStudent input{
    font-size: 17px;
    padding-left: 5px;
}

.courseName{
    width: 80%;
}
.courseId{
    width: 15%;
    min-width: 55px;
}

.edit, .delete, .info, .addStudentB{
    background: #333;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.delete{
    background: rgb(141, 12, 12);
    margin-right: -7px;
}


/*----------------Select Add Student Section----------------*/
.addStudentSection, .studentInfoSection{
    display: none;
}

/*----------------Select Add Students To The Course Section----------------*/
.addStudentsToCourseSection{
    display: none;
}

.courseStudentName, .courseStudentSurname{
    max-width: 160px;
}

.courseStudentId{
    max-width: 50px;
}

.courseStudentMidScore, .courseStudentFScore, .letterGrade{
    max-width: 45px;
}
